.root{
  transition: all .5s;

  &.active{
    background: rgb(17, 18, 19);
  }

  .container{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    @media (max-width: 1025px) {
      max-width: 900px;
    }

    @media (max-width: 900px) {
      max-width: 700px;
    }

    @media (max-width: 700px) {
      max-width: 95%;
    }

    .navigation{
      display: flex;
      align-items: center;
      gap: 2rem;

      .logo{

        svg{
          width: 50px;
          height: 50px;
        }
      }

      nav{
        height: 100%;


        @media (max-width: 700px) {
          display: none;
        }

        .navigationList{
          height: 100%;
          display: flex;
          align-items: center;
          gap: 1rem;

          li{
            height: 100%;
            color: white;
            cursor: pointer;
            transition: .3s;
            font-weight: 500;

            &:hover{
              color: #752bcb;
            }

          }
        }
      }
    }

    .contact{

      button{
        background: #fff;
        padding: 10px 2rem;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        color: black;
        text-transform: capitalize;
        transition: all .3s;
        border: none;
        outline: none;

        &:hover{
          background: rgba(255, 255, 255, 0.7);
        }

        @media (max-width: 1025px) {
          font-size: 14px;
        }

        @media (max-width: 900px) {
          font-size: 13px;
        }

        @media (max-width: 700px) {
          padding: 10px 1.5rem;
          font-size: 12px;
        }
      }
    }
  }
}